.mat-card-content p{
  font-style: italic;
  float: right;
}

.going-container{
  padding-top: 10px;
  margin-left: 10px;
  margin-right: 2.5px;
  margin-bottom: 0px;
  padding-bottom:20px;
  -ms-word-break: break-all;
  word-break: break-all;

    /* Non standard for WebKit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.expandButton{
  display: flex;
  justify-content: flex-end;
  margin-top: -15px;
}

.exB{
  cursor: pointer;
  display: flex;
  align-items: center;
}
