<div *ngIf="eventloaded">
  <mat-card-header>
      <div mat-card-avatar *ngIf="creatorImg"><img [src]="creatorImg" width="50px" height="50px" alt="sender" style="border-radius: 50%;object-fit: contain;background-color: black;" title="{{creatorName}}"></div>
      <div mat-card-avatar *ngIf="!creatorImg"><img src="../../assets/loading.gif" width="50px" height="50px" alt="loading"></div>
    <mat-card-title>{{event.data.location | titlecase}} / {{ event.data.time }}</mat-card-title>
    <mat-card-subtitle>{{event.data.sender}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{ event.data.date }}</p>
  </mat-card-content>
  <mat-card-actions style="padding-top: 0;padding-bottom:0;">
    <button mat-raised-button color=primary (click)="eventGoing($event, event)" *ngIf="showGoingButton">GOING</button>
    <button mat-raised-button (click)="eventNotGoing(event)" *ngIf="!showGoingButton">CAN'T GO</button>
    <button mat-icon-button (click)="deleteEvent($event, event)" color="warn" *ngIf="showButtons"><mat-icon >delete_forever</mat-icon></button>
    <button mat-icon-button (click)="openDialog(event)" color="primary" *ngIf="showButtons"><mat-icon >edit</mat-icon></button>
    <div style="color:#ff4081" *ngIf="!expand" class="expandButton">
      <div (click)="expand = !expand" class="exB">
        <span>Going</span>
        <span class="material-icons" >expand_more</span>
      </div>
    </div>
    <div style="color:#ff4081" *ngIf="expand" class="expandButton">
      <div (click)="expand = !expand" class="exB">
        <span>Going</span>
        <span class="material-icons">expand_less</span>
      </div>
    </div>
  </mat-card-actions>
    <div *ngIf="expand">
      <mat-divider></mat-divider>
      <mat-card-footer>
          <!-- <div class="going-container">
            <span *ngFor="let person of event.data.going" style="margin-right:10px;">{{person}}</span>
          </div> -->
          <div class="going-container">
            <div *ngIf="goingPicutres.length === 0">
              <span>
                <img [src]="loading" alt="" [title]="loading === '../../assets/none.png' ? 'None' : 'Loading'" width="24px" height="24px">
              </span>
            </div>
            <div *ngIf="goingPicutres.length > 0">
              <span *ngFor="let user of goingPicutres" style="margin-right:10px;"><img src="{{user.picture}}" width="24px" height="24px" alt="{{user.name}}" title="{{user.name}}" style="border-radius: 50%; cursor: pointer;object-fit: contain;background-color: black;" (click)="openProfileDialog(user)"></span>
            </div>
          </div>
      </mat-card-footer>
    </div>
</div>
