<mat-card-header>
  <div mat-card-avatar style="background: url({{event.hostPicture}});background-size:cover"></div>
  <mat-card-title>{{event.data.location}} / {{ event.data.time }}</mat-card-title>
  <mat-card-subtitle>{{event.data.sender}}</mat-card-subtitle>
</mat-card-header>
<mat-card-content>
  <p>{{ event.data.date }}</p>
</mat-card-content>
<mat-card-actions style="padding-top: 0;padding-bottom:0;">
  <button mat-raised-button color=primary (click)="eventGoing($event, event)">GOING</button>
  <button mat-raised-button (click)="eventNotGoing(event)">CAN'T GO</button>
  <button mat-icon-button (click)="deleteEvent($event, event)" color="warn" *ngIf="showButtons"><mat-icon >delete_forever</mat-icon></button>
  <button mat-icon-button (click)="openDialog(event)" color="primary" *ngIf="showButtons"><mat-icon >edit</mat-icon></button>
  <div style="color:#ff4081" *ngIf="!expand" class="expandButton">
    <div (click)="expand = !expand" class="exB">
      <span>Going</span>
      <span class="material-icons" >expand_more</span>
    </div>
  </div>
  <div style="color:#ff4081" *ngIf="expand" class="expandButton">
    <div (click)="expand = !expand" class="exB">
      <span>Going</span>
      <span class="material-icons">expand_less</span>
    </div>
  </div>
</mat-card-actions>
  <div *ngIf="expand">
    <mat-divider></mat-divider>
    <mat-card-footer>
        <div class="going-container">
          <span *ngFor="let person of event.data.going" style="margin-right:10px;">{{person}}</span>
            <!-- <span *ngFor="let person of event.data.going"><img src="{{person.picture}}" alt="{{person.name}}" title="{{person.name}}" height="24" width="24" style="border-radius:50%;margin:5px;"></span> -->
        </div>
    </mat-card-footer>
  </div>
