<div class="container">
  <h1 style="color:#ff4081">Your Profile</h1>
  <img [src]="imgUrl" alt="" style="border-radius: 50%;object-fit: contain;background-color: black;" width="100px" height="100px">
  <input #file type="file" accept="image/*" (change)="onFileSelected($event)" #fileInput style="display:none;">
  <button type="button" mat-button (click)="fileInput.click()">Change Image</button>
  <p>{{ userEmail }}</p>
  <div class="profile-name">
    <p>{{ userName }}</p>
    <button mat-icon-button color="primary" (click)="openDialog(this.userName, this.userEmail)"><mat-icon >edit</mat-icon></button>
  </div>
</div>
